/*styling for modal boxes */

div.modal-body{
	display: flex;
	justify-content: space-between;
}
div.modal-text-white{
	color: whitesmoke;
}
div.modal-image{
	float: right;
}
div.modal-image img{
	float: right;
}

div.modal-image-block{
	background-image: url("CryptoWatch.jpg");
	background-size: cover;
}


div.modal-footer{
	display: flex;
	justify-content: center;
}
