amqp==2.2.2
appnope==0.1.0
backcall==0.1.0
billiard==3.5.0.3
celery==4.1.0
certifi==2018.4.16
chardet==3.0.4
dataclasses==0.5
decorator==4.3.0
Django==2.0.4
django-celery-results==1.0.1
django-crontab==0.7.1
djangorestframework==3.8.2
djongo==1.2.26
idna==2.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.0
jsonschema==2.6.0
jupyter-core==4.4.0
kombu==4.1.0
mongoengine==0.15.0
nbformat==4.4.0
numpy==1.14.2
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
plotly==2.5.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pymongo==3.6.1
pytz==2018.4
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
